@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Cutive&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&display=swap");

:root {
  --primary-color: #4a90e2;
  --primary-color-light: #a7c6ed;
  --secondary-color: #f5a623;
  --secondary-color-light: #f6a600;
  --accent-color: #a7c6ed;
  --paper-background-color: #fefefe;
  --background-color: #f6a600;
  --text-color: #d1c200;
  --text-secondary-color: #fefefe;
  --text-dark-color: #000;
  --error-color: #f5007d;
  --success-color: #7ed321;
  --warning-color: #f8e71c;

  --primary-font: "Lexend", system-ui;
  --secondary-font: "Chewy", system-ui;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
}

.number-font {
  font-family: "Orbitron", sans-serif !important;
  text-align: right;
}

.cutive-font {
  font-family: "Cutive", sans-serif !important;
  p, span, h1, h2, h3, h4, h5, h6 {
    font-family: "Cutive", sans-serif !important;
  }
}

.MuiInputBase-root:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--paper-background-color) inset !important;
  -webkit-text-fill-color: #000;
}

.MuiInputBase-root:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--paper-background-color) inset !important;
}
