@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Cutive&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&display=swap");

:root {
  --primary-color: #8bc34a; /* Medium light green */
  --primary-color-light: #c5e1a5; /* Lighter green */
  --secondary-color: #cddc39; /* Lime */
  --secondary-color-light: #f0f4c3; /* Light lime */
  --accent-color: #ffeb3b; /* Bright yellow */
  --accent-color-2: 	#ffce00;
  --accent-color-3: #00d2ff;
  --neon-green: #39FF14;
  --paper-background-color: #ffffff; /* Pure white */
  --background-color: #8bc34a; /* Bright yellow */
  --text-color: #333333; /* Dark gray for contrast */
  --text-secondary-color: #555555; /* Medium gray */
  --text-dark-color: #000000; /* Black */
  --error-color: #e53935; /* Strong red */
  --success-color: #43a047; /* Deep green */
  --warning-color: #fdd835; /* Golden yellow */

  --primary-font: "Lexend", system-ui;
  --secondary-font: "Chewy", system-ui;

  --gradient-color: linear-gradient(135deg, var(--primary-color), var(--accent-color));
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  font-weight: 400;
  font-style: normal;
}

.number-font {
  font-family: "Orbitron", sans-serif !important;
  text-align: right;
}

.cutive-font {
  font-family: "Cutive", sans-serif !important;
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cutive", sans-serif !important;
  }
}

.MuiInputBase-root:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--paper-background-color) inset !important;
  -webkit-text-fill-color: #000;
}

.MuiInputBase-root:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--paper-background-color) inset !important;
}
